{# 标签选择器所需脚本(仅在包含 tag_selector 组件的页面引入). #}
<script src="{{ url_for('static', filename='js/modules/services/tag_management_service.js') }}"></script>
<script src="{{ url_for('static', filename='js/modules/stores/tag_management_store.js') }}"></script>
<script src="{{ url_for('static', filename='js/modules/views/components/tags/tag-selector-view.js') }}"></script>
<script src="{{ url_for('static', filename='js/modules/views/components/tags/tag-selector-modal-adapter.js') }}"></script>
<script src="{{ url_for('static', filename='js/modules/views/components/tags/tag-selector-controller.js') }}"></script>
