<div class="modal fade {{ modal_class|default('') }}" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_label_id }}" aria-hidden="true" data-bs-backdrop="{{ backdrop|default('true') }}" data-bs-keyboard="{{ keyboard|default('true') }}">
  <div class="modal-dialog {{ dialog_class|default('') }} {{ 'modal-dialog-scrollable' if scrollable else '' }} {{ 'modal-xl' if size == 'xl' else 'modal-lg' if size == 'lg' else 'modal-sm' if size == 'sm' else '' }}">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ modal_label_id }}">{{ title | safe }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ body | safe }}
      </div>
      {% if footer %}
      <div class="modal-footer">
        {{ footer | safe }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
