<div class="col-3">
    <div class="card {{ card_class|default('bg-primary text-white') }}">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div>
                    <h6 class="card-title">{{ title }}</h6>
                    <h3 class="mb-0" id="{{ value_id }}">{{ default_value|default('-') }}</h3>
                </div>
                <div class="align-self-center">
                    <i class="{{ icon_class|default('fas fa-chart-line') }} fa-2x opacity-75"></i>
                </div>
            </div>
        </div>
    </div>
</div>
